@page
@model WebApp_ExamenPruebaFinal.Pages.RestartPasswordModel
@{
}
<script src="~/js/controlactions.js"></script>
<script src="~/js/pages/user.js"></script>

<h1>Restablecer Contraseña</h1>
<br />
<form>
	<div class="form-group">
		<label for="exampleInputEmail1" class="form-label mt-4" >Respuesta a la Pregunta Secreta</label>
		<input type="text" class="form-control" id="txt_questionAnserwer" placeholder="Ingrese su Respuesta">
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1" class="form-label mt-4" >Contraseña</label>
		<input type="password" class="form-control" id="txt_Password" placeholder="Ingrese una Contraseña">
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1" class="form-label mt-4">Confirmar Contraseña</label>
		<input type="password" class="form-control" id="txt_password2" placeholder="Confirme su contraseña">
	</div>
	<br />
	<br />
	<br />
	<button type="button" id="UpdatePassword" class="btn btn-outline-success">Restablecer</button>
</form>